useDynLib(RLiTe)
exportPattern("^[[:alpha:]]+")
import(methods)
importFrom(Rcpp, loadModule)
importFrom(Rcpp, evalCpp)
importFrom(spatstat, owin, coords, psp, lengths.psp, endpoints.psp,
           pairdist.psp, nsegments, marks)
